{% extends "race/base.html" %}
{% block title %}Лошади{% endblock %}
{% block table %}
  {% if horses %}
    <table class="table table-hover table-responsive table-striped" id="resultsTable">
      <thead>
        <tr>
          <th scope="col">Имя</th>
          <th scope="col">Владелец</th>
          <th scope="col">Пол</th>
          <th scope="col">Возраст</th>
        </tr>
        <tr>
          <th scope="col"><input type="text" id="searchbox_name" onkeyup="search('searchbox_name', 0)" placeholder="Поиск"></th>
          <th scope="col"><input type="text" id="searchbox_owner" onkeyup="search('searchbox_owner', 1)" placeholder="Поиск"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for horse in horses %}
        <tr>
            <td><a href="/horse/{{ horse.id }}">{{ horse.name }}</a></td>
            <td>{{ horse.owner }}</td>
            <td>{{ horse.get_sex_display }}</td>
            <td>{{ horse.age }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Лошади не найдены</p>
  {% endif %}
{% endblock %}