{% extends "race/base.html" %}
{% block title %}Результаты лошади {{ horse.name }}{% endblock %}
{% block subheader %}Результаты лошади {{ horse.name }}{% endblock %}
{% block table %}
  {% if results_places %}
    <table class="table table-hover table-responsive table-striped" id="resultsTable">
      <thead>
        <tr>
          <th scope="col">Состязание</th>
          <th scope="col">Жокей</th>
          <th scope="col">Время</th>
          <th scope="col">Место</th>
        </tr>
        <tr>
          <th scope="col"><input type="text" id="searchbox_battle" onkeyup="search('searchbox_battle', 0)" placeholder="Поиск"></th>
          <th scope="col"><input type="text" id="searchbox_jockey" onkeyup="search('searchbox_jockey', 1)" placeholder="Поиск"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for result in results_places %}
        <tr>
            <td><a href="/battle/{{ result.0.battle.id }}">{{ result.0.battle }}</a></td>
            <td><a href="/jockey/{{ result.0.jockey.id }}">{{ result.0.jockey }}</a></td>
            <td>{{ result.0.time }}</td>
            <td>{{ result.1 }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Нет результатов для данной лошади</p>
  {% endif %}
{% endblock %}