{% extends "race/base.html" %}
{% block title %}Рейтинг{% endblock %}
{% block table %}
  {% if jockeys %}
    <table class="table table-hover table-responsive table-striped" id="resultsTable">
      <thead>
        <tr>
          <th scope="col">Место</th>
          <th scope="col">Имя</th>
          <th scope="col">Адрес</th>
          <th scope="col">Возраст</th>
          <th scope="col">Рейтинг</th>
        </tr>
        <tr>
          <th scope="col"></th>
          <th scope="col"><input type="text" id="searchbox_name" onkeyup="search('searchbox_name', 1)" placeholder="Поиск"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for jockey in jockeys %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="/jockey/{{ jockey.id }}">{{ jockey.name }}</a></td>
            <td>{{ jockey.address }}</td>
            <td>{{ jockey.age }}</td>
            <td>{{ jockey.rating }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Жокеи не найдены</p>
  {% endif %}
{% endblock %}